@import "tailwindcss";

:root {
  --background: #05040a;
  --foreground: #f4f4f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #05040a;
    --foreground: #f4f4f5;
  }
}

@layer base {
  body {
    @apply bg-neutral-950 text-neutral-100 font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-white;
  }
}
